* {
  margin: 0;
}
.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
}
.header_logo {
  width: 80px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 10px;
}
.header_search {
  display: flex;
  flex: 1;
  align-items: center;
}
.header_search_input {
  width: 100%;
  height: 27px;
  border-radius: 6px;
}
.header_search_icon {
  padding: 5px;
  height: 20px !important;
  margin-left: -35.5px;
  background-color: #cd9042;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.header_option_line_one {
  font-size: 10px;
  font-weight: 400;
  cursor: pointer;
}
.header_option_line_two {
  font-size: 13px;
  font-weight: 700;
  cursor: pointer;
}
.header_option_basket {
  display: flex;
  align-items: center;
  color: white;
}
.header_basket_count {
  margin-left: 10px;
  margin-right: 10px;
}
.header_nav {
  width: 40vw;
  display: flex;
  justify-content: space-evenly;
}
.header_option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}
.basket_icon {
  animation: example 0.8s infinite;
}
@keyframes example {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}
