.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  padding: 20px;
  width: 100%;
  max-height: 400px;
  min-width: 100px;
  background-color: white;
  z-index: 1;
  transition: 0.3s ease-in-out;
}
.product:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.03);
}
.product > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}
.product > button {
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  cursor: pointer;
  padding: 4px 10px;
}

.product_rating {
  display: flex;
}
.product_price {
  margin-top: 5px;
}
.product_info {
  height: 100px;
  margin-bottom: 15px;
  font-size: 15px;
}
